<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.e1i6.movie.mapper.BlackListMapper">


	<insert id="insultBlackList">
	
		INSERT INTO blacklist(customer_id, report_category_key, startdate, enddate)
 		VALUES (#{customerId}, #{reportCategoryKey} , NOW(), (SELECT DATE_ADD(NOW(), INTERVAL 5 DAY)) )
	
	</insert>
	
	<insert id="spoilerBlackList">
	
		INSERT INTO blacklist(customer_id, report_category_key, startdate, enddate)
 		VALUES (#{customerId}, #{reportCategoryKey} , NOW(), (SELECT DATE_ADD(NOW(), INTERVAL 10 DAY)) )
	
	</insert>



</mapper>