<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.e1i6.movie.mapper.EventMapper">
	
	<!-- eventSchedule-->
	<select id="selectEventScheduleList" resultType="java.util.Map">
		SELECT
			schedule_key scheduleKey
			, movie_key movieKey
			, screenroom_key screenroomKey
			, start_date startDate
			, end_date endDate
			, preview
		FROM screening_schedule	 
			
	 	
	</select>
	
	<!-- eventMovieList -->
	<select id="selectEventMovieList" resultType="java.util.Map">
		SELECT
			movie_key movieKey
			, movie_title movieTitle
		FROM movie	
	</select>
	
	<!-- event -->
	<select id="eventOne" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
			e.event_key eventKey
			, e.event_title eventTitle
			, e.event_content eventContent
			, e.event_start_date eventStartDate
			, e.event_end_date eventEndDate
			, e.movie_key movieKey
			, ei.file_name fileName
			, ei.file_type fileType
			, ei.file_size fileSize
			, ei.origin_name originName
		FROM event e INNER JOIN event_img ei
		ON e.event_key = ei.event_key
		WHERE e.event_key = #{eventKey}
	</select>

	<select id="eventCount" resultType="int" parameterType="String">
		SELECT COUNT(*) FROM event
		<where>
			<if test="searchWord != null || searchWord !=''">
				event_title like CONCAT('%',#{searchWord},'%') 
			</if>
		</where>
	</select>
	
	<insert id="insertEvent" parameterType="goodee.e1i6.movie.vo.Event">
		<selectKey resultType="int" keyProperty="eventKey" order="AFTER">
			select last_insert_id()
		</selectKey>
		INSERT INTO event (
			event_title
			, event_content
			, event_start_date
			, event_end_date
			, movie_key
		) VALUES (
			#{eventTitle}
			,#{eventContent}
			,#{eventStartDate}
			,#{eventEndDate}
			,#{movieKey}
		)
	</insert>
	
	<select id="selectEventList" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
			e.event_key eventKey
			, e.event_title eventTitle
			, e.event_content eventContent
			, e.event_start_date eventStartDate
			, e.event_end_date eventEndDate
			, e.movie_key movieKey
			, ei.file_name fileName
			, ei.file_type fileType
			, ei.file_size fileSize
			, ei.origin_name originName
		FROM event e INNER JOIN event_img ei
		ON e.event_key = ei.event_key
		<where>
			<if test="searchWord != null || searchWord !=''">
				event_title like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
		GROUP BY e.event_key
		ORDER BY e.event_key DESC
		LIMIT #{beginRow}, #{rowPerPage}
			
	</select>
</mapper>