<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.e1i6.movie.mapper.EventMapper">

	<!-- eventWinner -->
	<insert id="insertEventWinner" parameterType="goodee.e1i6.movie.vo.EventWinner">
		INSERT INTO event_winner (
			event_comment_key
			, schedule_key
		) VALUES (
			#{eventCommentKey}
			, #{scheduleKey}
		)
	</insert>
	
	<select id="selectEventWinnerList" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT 
			ew.event_comment_key eventCommentkey
			, ec.customer_id customerId
			, ec.event_comment_content eventCommentContent
			, ec.schedule_key scheduleKey
			, ec.event_key eventKey
			, c.customer_name customerName
			, c.customer_email customerEmail
			, e.event_title eventTitle
		FROM event_winner ew INNER JOIN event_comment ec
		ON ew.event_comment_key = ec.event_comment_key
		INNER JOIN customer c
		ON c.customer_id = ec.customer_id
		INNER JOIN event e
		ON e.event_key = ec.event_key
		WHERE ec.event_key = #{eventKey}
	</select>
	
	<!-- eventSchedule-->
	<select id="selectEventScheduleList" resultType="java.util.Map">
		SELECT
			schedule_key scheduleKey
			, movie_key movieKey
			, screenroom_key screenroomKey
			, start_date startDate
			, end_date endDate
			, preview
		FROM screening_schedule	
		WHERE movie_key = #{movieKey} 
	</select>
	
	<!-- eventMovieList -->
	<select id="selectEventMovieList" resultType="java.util.Map">
		SELECT
			movie_key movieKey
			, movie_title movieTitle
		FROM movie	
	</select>
	
	<!-- event -->
	<select id="selectPastEvents" resultType="goodee.e1i6.movie.vo.Event">
  		SELECT 
 			event_key eventKey
 			, event_title eventTitle
 			, event_content eventContent
 			, event_start_date eventStartDate
 			, event_end_date eventEndDate
 			, movie_key movieKey 			
  		FROM event
  		WHERE event_end_date &lt; CURRENT_DATE()
  		AND event_key NOT IN (SELECT DISTINCT event_key FROM event_winner)
	</select>

	<select id="eventOne" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
			e.event_key eventKey
			, e.event_title eventTitle
			, e.event_content eventContent
			, e.event_start_date eventStartDate
			, e.event_end_date eventEndDate
			, e.movie_key movieKey
			, ei.file_name fileName
			, ei.file_type fileType
			, ei.file_size fileSize
			, ei.origin_name originName
		FROM event e INNER JOIN event_img ei
		ON e.event_key = ei.event_key
		WHERE e.event_key = #{eventKey}
	</select>
	
	<select id="endEventCount" resultType="int" parameterType="String">
		SELECT COUNT(*) FROM event
		<where>
			<if test="searchWord != null || searchWord !=''">
				event_title like CONCAT('%',#{searchWord},'%') 
			</if>
			AND NOW() > event_end_date
		</where>
	</select>

	<select id="eventCount" resultType="int" parameterType="String">
		SELECT COUNT(*) FROM event
		<where>
			<if test="searchWord != null || searchWord !=''">
				event_title like CONCAT('%',#{searchWord},'%') 
			</if>
			 AND event_end_date > NOW()
		</where>
	</select>
	
	<insert id="insertEvent" parameterType="goodee.e1i6.movie.vo.Event">
		<selectKey resultType="int" keyProperty="eventKey" order="AFTER">
			select last_insert_id()
		</selectKey>
		INSERT INTO event (
			event_title
			, event_content
			, event_start_date
			, event_end_date
			, movie_key
		) VALUES (
			#{eventTitle}
			,#{eventContent}
			,#{eventStartDate}
			,#{eventEndDate}
			,#{movieKey}
		)
	</insert>
		<select id="selectEndEventList" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
			e.event_key eventKey
			, e.event_title eventTitle
			, e.event_content eventContent
			, e.event_start_date eventStartDate
			, e.event_end_date eventEndDate
			, e.movie_key movieKey
			, ei.file_name fileName
			, ei.file_type fileType
			, ei.file_size fileSize
			, ei.origin_name originName
		FROM event e INNER JOIN event_img ei
		ON e.event_key = ei.event_key
		<where>
			<if test="searchWord != null || searchWord !=''">
				event_title like CONCAT('%',#{searchWord},'%')
			</if>
			 AND NOW() > event_end_date
		</where>
		GROUP BY e.event_key
		ORDER BY e.event_key DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="selectEventList" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
			e.event_key eventKey
			, e.event_title eventTitle
			, e.event_content eventContent
			, e.event_start_date eventStartDate
			, e.event_end_date eventEndDate
			, e.movie_key movieKey
			, ei.file_name fileName
			, ei.file_type fileType
			, ei.file_size fileSize
			, ei.origin_name originName
		FROM event e INNER JOIN event_img ei
		ON e.event_key = ei.event_key
		<where>
			<if test="searchWord != null || searchWord !=''">
				event_title like CONCAT('%',#{searchWord},'%')
			</if>
			 AND event_end_date > NOW()
		</where>
		GROUP BY e.event_key
		ORDER BY e.event_key DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
</mapper>