<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.e1i6.movie.mapper.LoginMapper">

	<!-- 관리자 로그인 -->
	<select id="loginEmployee"
		resultType="goodee.e1i6.movie.vo.Employee"
		parameterType="goodee.e1i6.movie.vo.Employee">
		SELECT
			employee_id employeeId
			, employee_name employeeName

		FROM employee
		WHERE employee_id = #{employeeId} AND employee_pw = PASSWORD(#{employeePw})
	</select>

	<!-- 고객 로그인 -->
	<select id="login"
		resultType="goodee.e1i6.movie.vo.Customer"
		parameterType="goodee.e1i6.movie.vo.Customer">
		SELECT
			customer_id customerId
			, oauth oauth
			, customer_name customerName
			, customer_address customerAddress
			, customer_birthday customerBirthday
			, customer_gender customerGender
			, customer_point customerPoint
			, customer_email customerEmail
			, customer_phone customerPhone
			, active active
			
		FROM customer
		WHERE customer_id = #{customerId} AND customer_pw = PASSWORD(#{customerPw})
	</select>
	
	<!-- 카카오 로그인 -->
	<select id="KakaoLogin"
		resultType="goodee.e1i6.movie.vo.Customer"
		parameterType="goodee.e1i6.movie.vo.Customer">
		SELECT
			customer_id customerId
			, oauth oauth
			, customer_name customerName
			, customer_address customerAddress
			, customer_birthday customerBirthday
			, customer_gender customerGender
			, customer_point customerPoint
			, customer_email customerEmail
			, customer_phone customerPhone
		FROM customer
		WHERE customer_id = #{customerId}
	</select>
	
	<!-- 고객 회원가입 -->
	<insert id="insertCustomer"
		parameterType ="goodee.e1i6.movie.vo.Customer">
		INSERT INTO customer 
			(customer_id, oauth, customer_pw, customer_name, customer_address
			, customer_birthday, customer_gender, customer_phone, customer_email, active, last_login, createdate)
			
		VALUES (#{customerId}, #{oauth}, PASSWORD(#{customerPw}), #{customerName},  #{customerAddress}
			, #{customerBirthday}, #{customerGender}, #{customerPhone}, #{customerEmail}, active, NOW(), NOW())
					
	</insert>
	
	<!-- 고객 회원가입 아이디 중복 -->
	<select id="selectCustomerId" 
		parameterType = "String"
		resultType ="String">
	
		SELECT customer_id customerId 
		FROM customer
		WHERE customer_id =#{customerId}
	
	</select>
	
	<!-- 카카오로그인시 기존회원인시 확인 -->
	<select id="findByCustomerId"
		parameterType = "goodee.e1i6.movie.vo.Customer"
		resultType ="goodee.e1i6.movie.vo.Customer">
		SELECT customer_id customerId
		FROM customer
		WHERE customer_id =#{customerId}
	
	</select>
	
	<!-- 회원정보one -->
	<select id="SelectCustomerOne"
			parameterType = "String"
			resultType="java.util.Map">
		SELECT 
			c.customer_id customerId
			, c.oauth oauth
			, c.customer_pw customerPw
			, c.customer_name customerName
			, c.customer_address customerAddress
			, c.customer_birthday customerBirthday
			, c.customer_gender customerGender
			, c.customer_grade customerGrade
			, c.customer_phone customerPhone	
			, c.customer_email customerEmail	
			, c.last_login lastLogin
			, c.createdate createdate
			, ci.file_name fileName
		FROM customer c
			LEFT OUTER JOIN customer_img ci ON c.customer_id = ci.customer_id
		WHERE c.customer_id = #{customerId}
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="updateCustomer"
		parameterType="goodee.e1i6.movie.vo.Customer">
		
		UPDATE customer
		SET 
			customer_name = #{customerName}	
			, customer_address = #{customerAddress}	
			, customer_birthday = #{customerBirthday}	
			, customer_gender = #{customerGender}	
			, customer_phone = #{customerPhone}		
		WHERE customer_id = #{customerId}		
		
	</update>




</mapper>