<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.e1i6.movie.mapper.QuestionMapper">

	
	<!-- 내문의사항 수정 -->
	<update id="updateQuestion" parameterType="java.util.Map">
		UPDATE question
		SET question_title = #{questionTitle}, question_content = #{questionContent}
		WHERE question_key = #{questionKey} AND customer_id = #{customerId}
	</update>
	
	<!-- 내문의사항 내용, 답변 -->
	<select id="selectQuestionOneAndAnswer" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			qu.question_key questionKey
			, qu.question_title questionTitle
			, qu.question_content questionContent
			, qc.question_category questionCategory
			, th.theater_name theaterName
			, th.theater_region theaterRegion
			, qa.question_answer questionAnswer
			, qa.createdate createdate
		FROM question qu
			INNER JOIN question_category qc ON qu.question_category_key = qc.question_category_key
			INNER JOIN theater th ON qu.theater_key = th.theater_key
			LEFT OUTER JOIN question_answer qa ON qu.question_key = qa.question_key
		WHERE qu.customer_id = #{customerId} AND qu.question_key = #{questionKey}
	</select>
	
	<!-- 내문의사항 삭제 -->
	<delete id="deleteQuestion" parameterType="int">
		DELETE FROM question
		WHERE question_key = #{questionKey}
	</delete>
	
	<!-- 문의사항 리스트 마지막 페이지 -->
	<select id="selectQuestionListCount" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM question
		WHERE customer_id = #{customerId}
	</select>
	<!-- 문의사항 리스트 -->
	<select id="selectQuestionList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			ROW_NUMBER() over(order BY q.question_key DESC) num
			, q.question_key questionKey
			, q.question_title questionTitle
			, q.createdate createdate
			, qa.question_answer questionAnswer
		FROM question q
			LEFT OUTER JOIN question_answer qa ON q.question_key = qa.question_key
		WHERE customer_id = #{customerId}
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 문의유형 리스트 -->
	<select id="selectQuestionCategoryList" resultType="goodee.e1i6.movie.vo.QuestionCategory">
		SELECT
			question_category_key questionCategoryKey, question_category questionCategory
		FROM question_category
	</select>
	
	<!-- 문의사항 등록 -->
	<insert id="insertQuestion" parameterType="goodee.e1i6.movie.vo.Question">
		INSERT INTO question (
			question_title
			, customer_id
			, question_category_key
			, theater_key
			, question_content
		) VALUES (
			#{questionTitle}
			, #{customerId}
			, #{questionCategoryKey}
			, #{theaterKey}
			, #{questionContent}
		)
	</insert>

</mapper>